.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(90deg, #4C6EF5, #F783AC);
  padding: 1rem 2rem;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.header a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.header a:hover {
  transform: translateY(-2px);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.link{
    color: #f1f1f1;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.3s;
}

.link:hover{
    color: #ff4f81;
}




